# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
__pycache__/
**flask/
**werkzeug/
**jinja2/
**bin/
**lib/
**lib64/
**pyvenv.cfg
*.db
*.sqlite3
instance/
*.env

# Data files
*.csv
*.docx

# Node / React
node_modules/
dist/
build/
*.log
*.lock

# OS
.DS_Store
Thumbs.db